.hotel-page-section{
    width: 100%;
}

.hotel-page-section .hotel-bg{
    max-width: 1920px;
    margin: 0 auto;
    background-image: url(./hotelbg.jpg);
    /* width: 100%; */
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.hotel-page-section .hotel-container{
    max-width: 1920px;
    margin: 0 auto;
    padding: 40px 60px;
    
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.hotel-page-section .hotel-container .hotal-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.hotel-page-section .hotel-container .hotal-detail span{
    font-size: 17px;
    font-weight: 700;
    position: relative;
    color: #7B3226;
    display: block;
}

.hotel-page-section .hotel-container .hotal-detail span::before{
    content: "";
    position: absolute;
    width: 60%;
    height: 2px;
    left: -70%;
    top: calc(50% - 1px); 
    background-color: #7B3226;
}

.hotel-page-section .hotel-container .hotal-detail span::after{
    content: "";
    position: absolute;
    width: 60%;
    height: 2px;
    right: -70%;
    top: calc(50% - 1px); 
    background-color: #7B3226;
}

.hotel-page-section .hotel-container .hotal-detail p{
    font-size: 17px;
    font-weight: 500;
    color: rgb(84, 84, 84);
    text-align: center;
}

.hotel-page-section .hotel-container .hotal-detail ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.hotel-page-section .hotel-container .hotal-detail ul li{
    color: rgb(84, 84, 84);
}

.hotel-page-section .hotel-container .about-domestice-flight{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.hotel-page-section .hotel-container .about-domestice-flight .heading{
    width: 100%;
    text-align: center;
}

.hotel-page-section .hotel-container .about-domestice-flight .heading span{
    font-size: 17px;
    font-weight: 700;
    position: relative;
    color: #7B3226;
    /* display: block; */
}

.hotel-page-section .hotel-container .about-domestice-flight .heading span::before{
    content: "";
    position: absolute;
    width: 60%;
    height: 2px;
    left: -70%;
    top: calc(50% - 1px); 
    background-color: #7B3226;
}

.hotel-page-section .hotel-container .about-domestice-flight .heading span::after{
    content: "";
    position: absolute;
    width: 60%;
    height: 2px;
    right: -70%;
    top: calc(50% - 1px); 
    background-color: #7B3226;
}

.hotel-page-section .hotel-container .about-domestice-flight .main-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hotel-page-section .hotel-container .about-domestice-flight .main-container .left{
    width: 48%;
    
}

.hotel-page-section .hotel-container .about-domestice-flight .main-container .left img{
    width: 100%;
    object-fit: cover;
}

.hotel-page-section .hotel-container .about-domestice-flight .main-container .right{
    width: 48%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hotel-page-section .hotel-container .about-domestice-flight .main-container .right p{
    color: rgb(107, 107, 107);
    font-size: 17px;
}

.hotel-page-section .hotel-container .explore-room-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hotel-page-section .hotel-container .explore-room-section .heading{
    text-align: center;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.hotel-page-section .hotel-container .explore-room-section .heading h4{
    font-size: 14px;
    font-weight: 700;
    position: relative;
    color: #7B3226;
    display: block;
}

.hotel-page-section .hotel-container .explore-room-section .heading h4::before{
    content: "";
    position: absolute;
    width: 60%;
    height: 2px;
    left: -70%;
    top: calc(50% - 1px); 
    background-color: #7B3226;
}

.hotel-page-section .hotel-container .explore-room-section .heading h4::after{
    content: "";
    position: absolute;
    width: 60%;
    height: 2px;
    right: -70%;
    top: calc(50% - 1px); 
    background-color: #7B3226;
}

.hotel-page-section .hotel-container .explore-room-section .heading h3{
    font-weight: 700;
    font-size: 30px;
}

.hotel-page-section .hotel-container .explore-room-section .heading h3 span{
    color: #C5733C;
}

.hotel-page-section .hotel-container .explore-room-section .main-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.hotel-page-section .hotel-container .explore-room-section .main-container .same-col{
    width: 31%;
    box-shadow: 0px 0px 10px rgb(196, 196, 196);
}

.hotel-page-section .hotel-container .explore-room-section .main-container .same-col .img{
    width: 100%;
    height: 200px;
}

.hotel-page-section .hotel-container .explore-room-section .main-container .same-col .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hotel-page-section .hotel-container .explore-room-section .main-container .same-col .content{
    padding: 7px 12px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hotel-page-section .hotel-container .explore-room-section .main-container .same-col .content h4{
    font-size: 17px;
    font-weight: 600;
}

.hotel-page-section .hotel-container .explore-room-section .main-container .same-col .content .heading-star{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hotel-page-section .hotel-container .explore-room-section .main-container .same-col .content .heading-star i{
    color: gold;
}

.hotel-page-section .hotel-container .explore-room-section .main-container .same-col .content .services{
    display: flex;
    justify-content: space-between;
}

.hotel-page-section .hotel-container .explore-room-section .main-container .same-col .content .services .service-same{
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    border-right: 1px dotted rgb(119, 119, 119);
}

.hotel-page-section .hotel-container .explore-room-section .main-container .same-col .content .services .service-same:nth-child(3){
    border: none;
}

.hotel-page-section .hotel-container .explore-room-section .main-container .same-col .content .services .service-same span{
    font-size: 15px;
    font-weight: 600;
}

.hotel-page-section .hotel-container .hotel-service-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hotel-page-section .hotel-container .hotel-service-container .heading{
    width: 100%;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}


.hotel-page-section .hotel-container .hotel-service-container .heading h4{
    font-size: 14px;
    font-weight: 700;
    position: relative;
    color: #7B3226;
    display: block;
}

.hotel-page-section .hotel-container .hotel-service-container .heading h4::before{
    content: "";
    position: absolute;
    width: 60%;
    height: 2px;
    left: -70%;
    top: calc(50% - 1px); 
    background-color: #7B3226;
}

.hotel-page-section .hotel-container .hotel-service-container .heading h4::after{
    content: "";
    position: absolute;
    width: 60%;
    height: 2px;
    right: -70%;
    top: calc(50% - 1px); 
    background-color: #7B3226;
}

.hotel-page-section .hotel-container .hotel-service-container .heading h3{
    font-weight: 700;
    font-size: 30px;
}

.hotel-page-section .hotel-container .hotel-service-container .heading h3 span{
    color: #C5733C;
}

.hotel-page-section .hotel-container .hotel-service-container .main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.hotel-page-section .hotel-container .hotel-service-container .main-container .same-box{
    width: 31%;
    height: 280px;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    padding: 15px 20px;
    transition: all 0.3s linear;
}

.hotel-page-section .hotel-container .hotel-service-container .main-container .same-box:hover{
    background-color: #C5733C;
}

.hotel-page-section .hotel-container .hotel-service-container .main-container .same-box:hover  .icon .icon2 i{
    color: white;
} 

.hotel-page-section .hotel-container .hotel-service-container .main-container .same-box:hover .heading h2{
    color: white;
}

.hotel-page-section .hotel-container .hotel-service-container .main-container .same-box:hover p{
    color: white;
}

.hotel-page-section .hotel-container .hotel-service-container .main-container .same-box p{
    text-align: center;
}

.hotel-page-section .hotel-container .hotel-service-container .main-container .same-box .icon{
    border: 1px solid  #ECECEC;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hotel-page-section .hotel-container .hotel-service-container .main-container .same-box .icon .icon2{
    border: 1px solid  #ECECEC;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.hotel-page-section .hotel-container .hotel-service-container .main-container .same-box .icon .icon2 i{
    font-size: 50px;
    color: #C5733C;
}

.hotel-page-section .hotel-container .hotel-service-container .main-container .same-box .heading h2{
    font-size: 18px;
    font-weight: 700;
}

@media (max-width:900px) {

    .hotel-page-section .hotel-container .explore-room-section .main-container{
        flex-wrap: wrap;
    }
    
    .hotel-page-section .hotel-container .explore-room-section .main-container .same-col{
        width: 48%;
        box-shadow: 0px 0px 10px rgb(196, 196, 196);
    }


    .hotel-page-section .hotel-container .hotel-service-container .main-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 25px;
    }
    
    .hotel-page-section .hotel-container .hotel-service-container .main-container .same-box{
        width: 47%;
    }


    .hotel-page-section .hotel-container .about-domestice-flight .main-container{
        flex-direction: column;
        gap: 20px;
    }

    .hotel-page-section .hotel-container .about-internation-flight .main-container{
        flex-direction: column-reverse;
        gap: 20px;
    }
    
    .hotel-page-section .hotel-container .about-domestice-flight .main-container .left{
        width: 100%;
        text-align: center;
    }
    
    .hotel-page-section .hotel-container .about-domestice-flight .main-container .right{
        width: 100%;
        text-align: center;
    }
    
}

@media (max-width:700px) {

    .hotel-page-section .hotel-container{
        padding: 40px 20px;
    }

    .hotel-page-section .hotel-container .explore-room-section .main-container{
        flex-wrap: wrap;
        gap: 25px;
    }
    
    .hotel-page-section .hotel-container .explore-room-section .main-container .same-col{
        width: 100%;
        box-shadow: 0px 0px 10px rgb(196, 196, 196);
    }

    .hotel-page-section .hotel-container .hotel-service-container .main-container .same-box{
        width: 100%;
    }
    
}